
/*contenedor de niveles */

.contenedr{
  height: 250px;
  width: 250px;
  margin: auto;
  -webkit-perspective: 700;
}

.romp{
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: 2s;
}

.romp:hover{
  transform: rotateY(180deg);
}


.lado{
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
}
.frente{
  background: transparent;
}

.atras{
  background: #EAE3E3;
  transform: rotateY(180deg);
}

img{
  width: 100%;
  height: 100%;
}

h3:hover{
background: #369681;
color: white;
}

/*menu*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header{
  height: 50px;
  background: #FA2E0E;
  color: #000000;
  display: flex;
  justify-content: flex-end;
  align-items:center;
}

#btn-menu{
  display: none;
}

header label{
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.menu ul{
  background: #FA2E0E;
  display: flex;
  list-style: none;
}

.menu ul ul{
  display: none;
}

.menu a{
  display: block;
  padding: 15px 20px;
  color: #000000;
  text-decoration: none;
}

.menu a:hover{
  background: rgba(0,0,0,0.3);
}

.menu a span{
  margin-left: 10px;
}

.menu ul li:hover ul{
  display: block;
  position: absolute;
}

@media (max-width: 768px) {
  header label{
    display: block;
  }

  .menu{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    transform: translateX(-100%);
    transition: all 0.3s;
  }

  .menu ul{
    display: block;
    background: #555;
  }

  .menu ul li:hover ul{
    display: none;
    position: static;
  }

  .menu a span{
    position: absolute;
    right: 5px;
  }

  #btn-menu:checked ~ .menu{
    transform: translateX(0%);
  }

  .menu ul ul{
    background: rgba(0,0,0,0.4);
  }

  .menu ul ul a{
    padding: 15px 40px;
  }
}